@import "tailwindcss";

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-variant-numeric: slashed-zero;
}

html {
  -webkit-touch-callout: none;
  -webkit-user-select: text;
}

a[href^="tel"],
a[href^="mailto"],
a[href^="sms"],
a[href^="maps"],
a[href^="geo"],
a[href^="address"] {
  text-decoration: none !important;
  color: inherit !important;
}

*::-webkit-scrollbar {
  display: none;
}

::selection {
  background-color: #d5f266; /* your highlight colour */
}

@theme {
  --font-herbik-reg: "Herbik Regular", sans-serif;
  --font-herbik-italic: "Herbik Italic", sans-serif;
  --font-dia-bold: "Dia Bold", sans-serif;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-black: #101010;
  --color-white: #f7f0e7;

  --font-size-2xs: 10px;
  --line-height-2xs: 12px;
  --letter-spacing-2xs: 0.5px;

  --font-size-xs: 12px;
  --line-height-xs: 14px;
  --letter-spacing-xs: 0.6px;

  --font-size-sm: 16px;
  --line-height-sm: 21px;

  --font-size-base: 20px;
  --line-height-base: 28px;

  --color-grey-1: #e2e2e2;
  --color-grey-2: #bbbbbb;
}

@layer utilities {
  .herbik-reg {
    font-family: var(--font-herbik-reg);
  }

  .herbik-italic {
    font-family: var(--font-herbik-italic);
  }
  .dia-bold {
    font-family: var(--font-dia-bold);
  }

  .text-2xs {
    font-size: var(--font-size-2xs);
    line-height: var(--line-height-2xs);
    letter-spacing: var(--letter-spacing-2xs);
  }

  .text-xs {
    font-size: var(--font-size-xs);
    line-height: var(--line-height-xs);
    letter-spacing: var(--letter-spacing-xs);
  }

  .text-sm {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
    letter-spacing: var(--letter-spacing-sm);
  }

  .text-base {
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    letter-spacing: var(--letter-spacing-base);
  }

  .site-grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 8px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .button-style {
    font-family: var(--font-dia-bold, sans-serif);
    font-size: var(--font-size-2xs, 10px);
    line-height: var(--line-height-2xs, 12px);
    letter-spacing: var(--letter-spacing-2xs, 0.5px);

    height: 1.25rem; /* equivalent to 20px (Tailwind h-5) */
    cursor: pointer;
    border-radius: 2rem; /* approx Tailwind rounded-4xl */
    padding-left: 0.5rem; /* 8px */
    padding-right: 0.5rem; /* 8px */
    padding-top: 1px;
    text-transform: uppercase;
    transition:
      color 0.2s ease,
      background-color 0.2s ease;
  }

  .no-cursor {
    cursor: default;
  }

  /* .custom-underline {
    position: relative;
    display: inline-block;
    margin: 0 !important;
    padding: 0 !important;
  }

  .custom-underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2;
    width: 100%;
    height: 0.5px;
    border-bottom: 1px dashed black;
    pointer-events: none;
    transform: translateY(-2px);
  } */

  .custom-underline {
    position: relative;
    display: inline-block;
  }

  .custom-underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-image: repeating-linear-gradient(
      to right,
      black 0,
      black 2px,
      transparent 2px,
      transparent 4px
    );
    transform: translateY(-3px);
    background-size: 5px 1px;
    background-repeat: repeat-x;
    transition: opacity 0.2s ease;
    opacity: 1;
  }

  .custom-underline:hover::after {
    animation: dash-move 0.25s linear infinite;
    opacity: 1;
  }

  @keyframes dash-move {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 6px 0;
    }
  }

  @media (min-width: 768px) {
    .md\:text-2xs {
      font-size: var(--font-size-2xs);
      line-height: var(--line-height-2xs);
      letter-spacing: var(--letter-spacing-2xs);
    }
    .md\:text-xs {
      font-size: var(--font-size-xs);
      line-height: var(--line-height-xs);
      letter-spacing: var(--letter-spacing-xs);
    }
    .md\:text-sm {
      font-size: var(--font-size-sm);
      line-height: var(--line-height-sm);
      letter-spacing: var(--letter-spacing-sm);
    }
    .md\:text-base {
      font-size: var(--font-size-base);
      line-height: var(--line-height-base);
      letter-spacing: var(--letter-spacing-base);
    }
  }
}
