@import "tailwindcss";

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-variant-numeric: slashed-zero;
}

html {
  -webkit-touch-callout: none; /* Prevents long-press actions */
  -webkit-user-select: text; /* Allows normal text selection */
}

a[href^="tel"],
a[href^="mailto"],
a[href^="sms"],
a[href^="maps"],
a[href^="geo"],
a[href^="address"] {
  text-decoration: none !important;
  color: inherit !important;
}

*::-webkit-scrollbar {
  display: none;
}

@theme {
  --font-herbik-reg: "Herbik Regular", sans-serif;
  --font-herbik-italic: "Herbik Italic", sans-serif;
  --font-dia-bold: "Dia Bold", sans-serif;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-black: #241f21;
  --color-white: #f7f0e7;

  --font-size-2xs: 10px;
  --line-height-2xs: 12px;
  --letter-spacing-2xs: 0.5px;

  --font-size-xs: 12px;
  --line-height-xs: 14px;
  --letter-spacing-xs: 0.6px;

  --font-size-sm: 16px;
  --line-height-sm: 21px;

  --font-size-base: 20px;
  --line-height-base: 28px;

  --color-grey-1: #e2e2e2;
  --color-grey-2: #bbbbbb;
}

@layer utilities {
  .herbik-reg {
    font-family: var(--font-herbik-reg);
  }

  .herbik-italic {
    font-family: var(--font-herbik-italic);
  }
  .dia-bold {
    font-family: var(--font-dia-bold);
  }

  .text-2xs {
    font-size: var(--font-size-2xs);
    line-height: var(--line-height-2xs);
    letter-spacing: var(--letter-spacing-2xs);
  }

  .text-xs {
    font-size: var(--font-size-xs);
    line-height: var(--line-height-xs);
    letter-spacing: var(--letter-spacing-xs);
  }

  .text-sm {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-sm);
    letter-spacing: var(--letter-spacing-sm);
  }

  .text-base {
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    letter-spacing: var(--letter-spacing-base);
  }

  .site-grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 8px;
    padding-left: 8px;
    padding-right: 8px;
  }

  @media (min-width: 768px) {
    .md\:text-2xs {
      font-size: var(--font-size-xs);
      line-height: var(--line-height-xs);
    }
    .md\:text-xs {
      font-size: var(--font-size-xs);
      line-height: var(--line-height-xs);
    }
    .md\:text-sm {
      font-size: var(--font-size-xs);
      line-height: var(--line-height-xs);
    }
    .md\:text-base {
      font-size: var(--font-size-xs);
      line-height: var(--line-height-xs);
    }
  }
}
